
body{
    margin: 0;
}

.container{
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.header-logo{
    padding-left: 40px;
    text-decoration: none;
    font-size: large;
  }
  
  .header {
      padding-top: 20px;
      padding-bottom: 20px;
      border-bottom: 1px solid #E7E9FC;
      background-color:bisque;
  }
  
  .header_list {
      list-style: none;
      display: flex;
      gap: 80px;
      margin: 0;
      margin-left: 550px;
      /* justify-content: center; */
  }
  .header_list-item {
  }
  
  .header-link{
      text-decoration: none;
  }
  
  .header-cont{
    display: flex;
  }



  .button-nav{
    background-color: var(--cloud-color);
color: var(--iris-color);
cursor: pointer;
font-weight: 500;
font-size: 16px;
line-height: calc(24/16);
font-family: inherit;
border: 1px solid var(--flower-color);
border-radius: 4px;
padding: 12px 24px;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
 box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), 
 color 250ms cubic-bezier(0.4, 0, 0.2, 1),
 border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-navi{
    padding-top: 20px;
    padding-bottom: 120px;
    background-color: rgb(245, 245, 233);
}

.button-nav :focus,
.button-nav:hover{
    background-color: var(--ocean-color);
    color: var(--white-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-color: var(--ocean-color);
}

.button-navi li{
    list-style: none;
}

.button-navigation{
    margin-bottom: 72px;
    display: flex;
    gap: 24px;
    justify-content: center;
}

.workes{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    padding-left: 0;
}

.works-img{
    
    width: calc((100% - 48px) / 3 );
    
}

.workes img{
    height: 450px;
}

.icon-top-text{
    position: absolute;
    top: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: calc(24/16);
    background-color: blueviolet ;
    color: var(--cloud-color);
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 40px;
    padding-bottom: 40px;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-tpo-wrap{
    position: relative;
    overflow: hidden;
}

.works-img:hover .icon-top-text{
    transform: translateY(0);
}




.work-h{
    color: var(--navy-color);
    font-weight: 500;
font-size: 20px;
line-height: calc(24/20);

}

.workes-link:hover,
.workes-link:focus{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.workes img{
    display: block;
    width: 100%;

}

.workes-link{
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}

.txt-container{
    border-bottom: 1px solid #3746c9;
    border-left: 1px solid #3746c9;
    border-right: 1px solid #3746c9;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 16px;
}

.work-p{
    margin-top: 8px;
    color: var(--slate-color);
}

.workes a{
    text-decoration: none;
}

.workes p{
    font-weight: 400;
font-size: 16px;
line-height: calc(24/16);
}

.works li {
    list-style: none;
}




.visually-hidden {
    position: absolute;
      white-space: nowrap;
      width: 1px;
      height: 1px;
      overflow: hidden;
      border: 0;
      padding: 0;
      clip: rect(0 0 0 0);
      clip-path: inset(50%);
      margin: -1px;
  }